.menubar-menu-container .menu-item-icon {
  margin-right: 0px !important;
  width: 0px !important;
}
.top-bar {
  height: 32px;
  max-height: 32px;
  background-color: #3a506b;
}
.container-after-titlebar {
  height: 100%;
}
.element.SubProjectTreeHeader {
  background-color: darkgrey;
  text-align: center;
  color: black;
}

body {
  height: 100%;
  margin: 0ch;
  padding: 0px;
}

.content {
  background-color: rgb(33, 46, 61);
  height: calc(100% - 52px);
}
.bottom-bar {
  background-color: rgb(65, 64, 138);
  height: 22px;
}
.left-divider {
  width: 5px;
  float: left;
  height: 100%;
  cursor: e-resize;
  background-color: rgb(25, 37, 71);
}
.right-divider {
  width: 5px;
  float: right;
  height: 100%;
  top: 0px;
  cursor: e-resize;
  background-color: rgb(25, 37, 71);
}
.editor {
  height: 100%;
  background-color: rgb(21, 25, 36);
  float: right;
}
.ProjectPanel {
  border-top: 1px solid rgb(46, 32, 32);
  height: 100%;
  font-size: 16px;
  background-color: rgb(37, 45, 70);
  width: 200px;
  float: left;
}

.element {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  height: auto;
  font-size: 14px;
  color: #fff;

  background-color: rgb(37, 45, 70);
  display: flex;
  flex-direction: column;
}
.element:hover {
  background-color: rgb(39, 27, 73);
  color: blanchedalmond;
}

#contents {
  max-height: calc(100% - 55px);
  overflow-x: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}
#contents::-webkit-scrollbar {
  display: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                       supported by Chrome, Opera and Firefox */
}
#ProjectPanelTopBar {
  font-size: 20px;
  color: #fff;
  height: 40px;

  padding-left: 10px;
  background: rgb(42, 51, 82);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.horizontal-devider {
  width: 100%;
  height: 5px;
  background-color: rgb(19, 10, 43);
}
.horizontal-button {
  float: left;

  height: 100%;
  line-height: 170%;
  text-align: center;
  background: none;
  color: rgb(122, 122, 122);
}
.horizontal-button:hover {
  background-color: rgb(69, 87, 109);
  color: white;
}
#topbarfirstbutton {
  margin-left: 20px;
}
#openPropertiesbtn {
  padding: 0px;
  padding-top: 1%;
  height: 85%;
  width: 50px;
  float: right;
}

img {
  height: 100%;
  width: 80%;
  object-fit: cover;
}
#propertiesPanel {
  height: calc(100%);

  overflow-x: hidden;
  overflow-x: auto;
  width: 300px;
  visibility: visible;
  float: left;
  background-color: rgb(64, 78, 124);
}
.propertiesPanel {
  height: auto;
  padding-left: 10px;
  padding-right: 0px;
  margin-right: 0px;
  width: calc(100% - 3px);
}
#root {
  height: 100%;
  margin: 0ch;
  padding: 0px;
}
input {
  padding-left: 5px;
  margin-left: 5px;
  margin-right: 0px;
  border-style: none;
  border-color: none;
  height: 23px;
  max-width: 53%;
  margin-right: 10px;
  font-size: 14px;
  color: #fff;
  background-color: rgb(37, 45, 70);
}
label {
  padding-left: 5px;
  padding-bottom: 1px;
  color: aliceblue;
  width: 100%;
  margin-bottom: 1px;
}
.propertiesElement {
  height: unset;
  display: flex;
  flex-direction: column;
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(56, 44, 56);
}
.propertiesTopBar {
  line-height: 18px;
  background-color: rgb(103, 116, 168);
  margin: 5px;
  margin-right: 0px;
  text-align: center;
  font-size: 15px;
  height: 20px;
}
.elementIndent {
  width: 2px;
  margin-right: 6px;
  height: calc(100% - 3px);
  border-right: 1px dashed rgba(90, 69, 165, 0.575);
}
.projectTree {
  overflow-x: hidden;
  overflow-x: auto;
  height: calc(100% - 40px);
}
.treeElement {
  padding-left: 5px;
  height: 23px;
  display: flex;
  flex-direction: row;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 500px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(84, 95, 129);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
